In [2]:
import pandas as pd

In [3]:
participants_dataframe = pd.read_table(filepath_or_buffer='tsv-files/participants.tsv')

In [4]:
participants_dataframe

     participant_id site  protocol  diag  age  sex  hand  sup
0          sub-0001  SWA         1     0   23    1   1.0    1
1          sub-0002  SWA         1     0   23    2   1.0    1
2          sub-0003  SWA         1     0   26    1   1.0    1
3          sub-0004  SWA         1     0   23    1   1.0    1
4          sub-0005  SWA         1     0   24    1   1.0    1
...             ...  ...       ...   ...  ...  ...   ...  ...
1405       sub-1406  CIN        14     5   36    1   1.0    8
1406       sub-1407  CIN        14     5   56    2   1.0    8
1407       sub-1408  CIN        14     5   34    2   1.0    8
1408       sub-1409  CIN        14     5   56    1   1.0    8
1409       sub-1410  CIN        14     5   27    1   1.0    8

[1410 rows x 8 columns]

In [50]:
def return_df_by_disorder(dataframe,value):
    return dataframe.loc[dataframe['diag'] == value, :].reset_index(drop=True)

In [51]:
df_bipolar = return_df_by_disorder(participants_dataframe,7)

In [52]:
df_bipolar

   participant_id site  protocol  diag  age  sex  hand  sup
0        sub-1227  UTO         8     7   33    2   1.0    6
1        sub-1228  UTO         8     7   38    2   NaN    6
2        sub-1229  UTO         8     7   33    1   1.0    6
3        sub-1230  UTO         8     7   50    1   1.0    6
4        sub-1231  UTO         8     7   22    1   1.0    6
5        sub-1232  UTO         8     7   31    2   0.0    6
6        sub-1233  UTO         8     7   37    2   0.0    6
7        sub-1234  UTO         8     7   19    2   2.0    6
8        sub-1235  UTO         8     7   34    1   1.0    6
9        sub-1236  UTO         8     7   20    1   0.0    6
10       sub-1237  UTO         8     7   30    1   1.0    6
11       sub-1238  UTO         8     7   24    2   1.0    6
12       sub-1239  UTO         8     7   36    1   0.0    6
13       sub-1240  UTO         8     7   26    1   1.0    6
14       sub-1241  UTO         8     7   30    1   2.0    6
15       sub-1242  UTO         8     7   25    1   1.0    6
16       sub-1243  UTO         8     7   31    1   1.0    6
17       sub-1244  UTO         8     7   43    1   0.0    6
18       sub-1245  UTO         8     7   27    2   0.0    6
19       sub-1246  UTO         8     7   29    1   1.0    6
20       sub-1247  UTO         8     7   26    2   0.0    6
21       sub-1248  UTO         8     7   33    2   0.0    6
22       sub-1249  UTO         8     7   45    1   1.0    6
23       sub-1250  UTO         8     7   26    1   1.0    6
24       sub-1251  UTO         8     7   33    2   0.0    6
25       sub-1252  UTO         8     7   32    1   0.0    6
26       sub-1253  UTO         8     7   42    1   1.0    6
27       sub-1254  UTO         8     7   38    1   0.0    6
28       sub-1255  UTO         8     7   35    1   0.0    6
29       sub-1256  UTO         8     7   49    1   1.0    6
30       sub-1257  UTO         8     7   25    2   1.0    6
31       sub-1258  UTO         8     7   30    2   1.0    6
32       sub-1259  UTO         8     7   46    1   0.0    6
33       sub-1260  UTO         8     7   47    1   0.0    6
34       sub-1261  UTO         8     7   34    1   1.0    6
35       sub-1262  UTO         8     7   56    1   1.0    6
36       sub-1263  UTO         8     7   41    1   1.0    6
37       sub-1264  UTO         8     7   27    2   1.0    6
38       sub-1265  UTO         8     7   24    1   0.0    6
39       sub-1266  UTO         8     7   49    2   1.0    6
40       sub-1267  UTO         8     7   47    2   1.0    6

In [53]:
df_schizophrenia= return_df_by_disorder(participants_dataframe,4)

In [54]:
df_schizophrenia

    participant_id site  protocol  diag  age  sex  hand  sup
0         sub-0089  SWA         1     4   55    1   1.0    1
1         sub-0090  SWA         1     4   47    1   1.0    1
2         sub-0091  SWA         1     4   27    2   2.0    1
3         sub-0092  SWA         1     4   41    1   1.0    1
4         sub-0093  SWA         1     4   33    1   1.0    1
..             ...  ...       ...   ...  ...  ...   ...  ...
142       sub-1222  UTO         8     4   22    2   1.0    6
143       sub-1223  UTO         8     4   40    2   0.0    6
144       sub-1224  UTO         8     4   52    2   1.0    6
145       sub-1225  UTO         8     4   36    1   0.0    6
146       sub-1226  UTO         8     4   37    1   1.0    6

[147 rows x 8 columns]

In [55]:
df_autism = return_df_by_disorder(participants_dataframe,1)

In [56]:
df_autism

    participant_id site  protocol  diag  age  sex  hand  sup
0         sub-0008  SWA         1     1   46    1   2.0    1
1         sub-0009  SWA         1     1   40    1   1.0    1
2         sub-0010  SWA         1     1   22    1   1.0    1
3         sub-0012  SWA         1     1   27    2   1.0    1
4         sub-0019  SWA         1     1   26    1   1.0    1
..             ...  ...       ...   ...  ...  ...   ...  ...
120       sub-1124  UTO         8     1   53    1   1.0    6
121       sub-1125  UTO         8     1   34    1   1.0    6
122       sub-1126  UTO         8     1   49    1   1.0    6
123       sub-1127  UTO         8     1   43    1   1.0    6
124       sub-1128  UTO         8     1   33    1   0.0    6

[125 rows x 8 columns]

In [57]:
df_mdd = return_df_by_disorder(participants_dataframe,2)

In [58]:
df_mdd

    participant_id site  protocol  diag  age  sex  hand  sup
0         sub-0237  HUH         2     2   63    1   1.0    2
1         sub-0239  HUH         2     2   37    1   1.0    2
2         sub-0241  HUH         2     2   26    2   1.0    2
3         sub-0243  HUH         2     2   40    1   1.0    2
4         sub-0245  HUH         2     2   30    1   1.0    2
..             ...  ...       ...   ...  ...  ...   ...  ...
250       sub-1187  UTO         8     2   18    1   NaN    6
251       sub-1188  UTO         8     2   29    2   1.0    6
252       sub-1189  UTO         8     2   48    1   1.0    6
253       sub-1190  UTO         8     2   31    2   1.0    6
254       sub-1295  COI         5     2   57    2   1.0    2

[255 rows x 8 columns]

In [59]:
df_ocd = return_df_by_disorder(participants_dataframe,3)

In [60]:
def get_participants_series(dataframe,value):
    df = return_df_by_disorder(dataframe,value)
    return df.loc[:,'participant_id']

In [61]:
participants_autism = get_participants_series(participants_dataframe,1)

In [62]:
participants_bipolar = get_participants_series(participants_dataframe,7).to_list()
participants_schizophrenia= get_participants_series(participants_dataframe,4).to_list()
participants_autism= get_participants_series(participants_dataframe,1).to_list()
participants_mdd = get_participants_series(participants_dataframe,2).to_list()

0      sub-0008
1      sub-0009
2      sub-0010
3      sub-0012
4      sub-0019
         ...
120    sub-1124
121    sub-1125
122    sub-1126
123    sub-1127
124    sub-1128
Name: participant_id, Length: 125, dtype: object